[Unit]
Description=Bluetooth Reconnect Service
After=bluetooth.service
Requires=bluetooth.service

[Service]
ExecStart=/usr/local/bin/bluetooth_reconnect.sh
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
